{% extends 'layout.html' %}
{% block styles %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sign_up.css') }}">{% endblock styles %}

{% block title %}<title>Sign-up</title>{% endblock title %}

{% block body %}
<div class="page-container flex-row flex-center">
    <div class="flex-column flex-center fixed-containers">
        <h1>ANTISOCIAL CLUB</h1>
        <h2>For those who don't like to socialize!</h2>
    </div>

    <div class="flex-column flex-center fixed-containers">

        <h2>Sign up here!</h2>
        <div class="form">
            {{ form.hidden_tag() }}
                {{ form.csrf_token }}
            <form method="post" action="">
                {{ form.csrf_token }}
                <div>
                    {{ form.first_name.label }}
                    {{ form.first_name }}
                </div>
                <div>
                    {{ form.last_name.label }}
                    {{ form.last_name}}
                </div>
                <div>
                    {{ form.email.label }}
                    {{ form.email }}            
                </div>
                <div>
                    {{ form.passwd.label }}
                    {{ form.passwd }}
                </div>
                <div>
                    {{ form.confirm_passwd.label }}
                    {{ form.confirm_passwd }}
                </div>
                <div>
                    {{ form.submit }}
                </div>
            </form>
        </div>
        <h3>Already have an account?</h3>
        <a  href="{{ url_for('login')}}">Login here!</a>
    </div>
</div>
{% endblock body %}