p, a, h1, h2, h3, h4, h5, h6{
    font-family: 'Lucida Sans', 
                 'Lucida Sans Regular', 
                 'Lucida Grande', 
                 'Lucida Sans Unicode', 
                 Geneva, 
                 Verdana, 
                 sans-serif;
}
.white-text{
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
}
.paddingzero{
    padding: 0%;
    margin: 0%;
}